.inventory-grid{
     
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:30px;
    word-wrap: break-word;
}
.container-inventory{
     width: 100%;
    
    
}
@media (max-width:760px) {
    .inventory-grid{
     
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
        word-wrap: break-word;
    }
    
}