.fitness{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    padding: 20px 30px;
   

}
@media (max-width:700px) {
    .fitness{
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:40px;
        padding: 20px 30px;
       
    
    }

    
}
